<section class="container-fluid d-flex flex-row justify-content-center align-items-center contacto">

  <figure class="d-flex justify-content-center align-items-center logoContacto">
    <div>
      <img src="" alt="logo">
    </div>
  </figure>

  <article class="d-flex flex-column justify-content-start align-items-start informacionContacto">
      <section class="d-flex flex-row w-100 mainInfo">
        <div>
          <h4>Direccion</h4>
          <p>Lorem ipsum dolor</p>
          <p>Lorem ipsum dolor</p>
          <p>Lorem ipsum dolor</p>
        </div>

        <div>
          <h4>Telefono</h4>
            <p>545 5451 5642 52</p>
            <p>545 5451 5642 52</p>
          <h4>Correo</h4>
            <p>coreo@gmail.com</p>
        </div>
      </section>

      <div class="secondInfo">
        <h4>TITULO</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam expedita, fugiat ipsam porro dolor qui. Ratione explicabo pariatur facere eos, voluptatem reprehenderit consequatur ducimus repudiandae saepe hic fugiat culpa odio.</p>
      </div>
      <p class="copy">Copyright 2019 Nutresa</p>
  </article>

</section>
