<div class="fin-footer"></div>

<div class="fondo-footer">
  <div class="footer-curva"></div>
</div>

<footer class="d-flex container-fluid bg-yellow row m-0 p-2 flex-row justify-content-center align-items-center">

    <div class="col-md-5 d-flex justify-content-start">
      <p>Copyright - 2019 @nutresa</p>
    </div>

    <div class="col-md-2 d-flex justify-content-center logo">
      <figure>
        <h1>logo</h1>
      </figure>
    </div>

    <div class="col-md-5 d-flex justify-content-end redes">
      <a href="#">Redes <div class="btn-lineF"></div></a>
      <a href="#">Redes <div class="btn-lineF"></div></a>
      <a href="#">Redes <div class="btn-lineF"></div></a>
    </div>
</footer>
