<header class="d-flex container-fluid bg-green row m-0 flex-row justify-content-center align-items-center" *ngIf="!auth; else headerLogin">

  <div  class="col-md-5 d-flex justify-content-end align-items btns-nav">
    <a routerLink="/inicio" >Inicio <div class="btn-line"></div></a>
    <a href="#">Historia <div class="btn-line"></div></a>
  </div>

      <div  class="col-md-2 d-flex justify-content-center logo">

        <nav>
          <h1>
            Logo
          </h1>
        </nav>

      </div>

  <div class="col-md-5 d-flex justify-content-start btns-nav">
    <a routerLink="/contacto">Contacto <div class="btn-line"></div></a>
    <a routerLink="/ingresar">Ingresar <div class="btn-line"></div></a>
  </div>

</header>
<!-- Margen Header -->

  <!-- <div class="fondo m-0 p-0">
    <section class="row d-flex flex-row m-0 p-0 justify-content-center align-items-center inicio">
    </section>
  </div> -->

<!-- Header 2 -->
<ng-template #headerLogin>
<header class="d-flex container-fluid bg-green row m-0 flex-row justify-content-center align-items-center" *ngIf="auth">
    <div  class="col-md-2 d-flex justify-content-center logo">

        <nav>
          <h1>
            Logo
          </h1>
        </nav>

      </div>

  <div class="col-md-5 d-flex justify-content-end btns-nav">
    <a routerLink="/contacto">Usuario <div class="btn-line"></div></a>
    <a routerLink="/inicio">salir <div class="btn-line"></div></a>
  </div>

</header>
</ng-template>
<!-- Margen Header -->

  <div class="fondo m-0 p-0">
    <section class="row d-flex flex-row m-0 p-0 justify-content-center align-items-center inicio">
    </section>
  </div>
