<header class="d-flex container-fluid bg-green row m-0 flex-row justify-content-center align-items-center">
    <div  class="col-md-2 d-flex justify-content-center logo">

        <nav>
          <h1>
            Logo
          </h1>
        </nav>

      </div>

  <div class="col-md-5 d-flex justify-content-end btns-nav">
    <a routerLink="/admin">Usuario <div class="btn-line"></div></a>
    <a routerLink="/inicio" (click)="logOut()">salir <div class="btn-line"></div></a>
  </div>

</header>
<!-- Margen Header -->

  <div class="fondo m-0 p-0">
    <section class="row d-flex flex-row m-0 p-0 justify-content-center align-items-center inicio">
    </section>
  </div>
