
<section class="container-fluid d-flex flex-row justify-content-center align-items-center m-0 index">
  <figure class="d-flex align-items-center justify-content-center flex-column">

    <div class="img-home">
      <h3>LOREM DOLOR</h3>
      <img src="assets/imgs/body/homeImageCar.jpg" alt="Imagen">
    </div>

  </figure>

  <article class="slider d-flex flex-column justify-content-center align-items-center">
    <section class="d-flex flex-column justify-content-center align-items-center cont-slider">
        <div class="card-slider">
              <h2>Lorem Ipsum</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi aperiam praesentium, labore iure nobis. Omnis, odit, aspernatur. Asperiores voluptatem et, quod itaque provident dolorem explicabo officiis repellat obcaecati beatae inventore libero! Dignissimos, fuga unde placeat?
              </p>
          </div>

          <div class="btns-slider d-flex flex-row justify-content-center align-items-center">
            <div class="btn-slider"></div>
            <div class="btn-slider"></div>
            <div class="btn-slider"></div>
          </div>
      </section>


  </article>
</section>
