
<section>
  <figure>
    <img src="#" alt="Imagen">

    <h3>LOREM DOLOR</h3>
  </figure>

  <article class="slider">
      <div>
          <h2>Lorem Ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi aperiam praesentium, labore iure nobis. Omnis, odit, aspernatur. Asperiores voluptatem et, quod itaque provident dolorem explicabo officiis repellat obcaecati beatae inventore libero! Dignissimos, fuga unde placeat?
          </p>
      </div>
  </article>
</section>
