<section class="d-flex flex-column justify-content-center align-items-center">

  <div *ngIf="isLoading; else showCompras">
    Cargando...
  </div>

  <ng-template #showCompras>
    <h2>Compras</h2>

      <article>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Marca</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of compras; index as i">
              <td>{{i+1}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.marca}}</td>
              <td>{{item.precio}}</td>
              <td>{{item.cantidad}}</td>
              <td>
                <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="comprarProducto(item.id)">
                Comprar
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
  </ng-template>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Generar Compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div *ngIf="loadingProducto; else showProductoModal">
            Cargando producto...
        </div>

        <ng-template #showProductoModal>
        <!-- Cuerpo del modal -->
        <table class="table">
          <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Marca</th>
                <th scope="col">Cantidad</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{producto.id}}</td>
              <td>{{producto.nombre}}</td>
              <td>{{producto.precio}}</td>
              <td>{{producto.marca}}</td>
              <td>{{producto.cantidad}}</td>
            </tr>
          </tbody>
        </table>

        <form class="d-flex flex-column">
          <label for="cliente">Cliente:
            <select class="clientes" name="client">
              <option *ngFor="let client of clientes; index as i" value="{{client.id}}">{{client.marca}}</option>
            </select>
          </label>

          <label for="cantidad">Cantidad a llevar:
            <input type="number" name="cantidad">
          </label>

          <label for="tipo_factura">Tipo de Factura: <br>
            Compra Directa
          <input type="radio" name="tipo_factura" value="1" (click)="compraDirecta()">
            Compra Combo
          <input type="radio" name="tipo_factura" value="0" (click)="compraCombo()">
          </label>

            <!-- Compra Combo -->
            <div *ngIf="combo">
              <hr>
              <form action="index.html" method="post">
                <label for="agregarProducto" class="d-flex flex-row">
                  <select name="agregarProducto">
                    <option *ngFor="let producto of compras; index as i" value="{{producto.id}}">{{producto.nombre}}</option>
                  </select>
                  <label for="cantidad2">Cantidad
                    <input type="number" name="cantidad2">
                  </label>
                </label>
                <button type="submit" class="btn btn-primary" name="button">Agregar Producto</button>
              </form>
              <hr>


              <label for="nombreCombo">Nombre del combo
                <input type="text" name="nombreCombo" placeholder=""="nombreCombo">
              </label>
              <label for="descripcionCombo">Descripcion
                <textarea name="descripcionCombo"  rows="8" cols="40"></textarea>
              </label>
              <label for="precioCombo">Precio del combo
                <input type="number" name="precioCombo" value="precioCombo">
              </label>
            </div>
          <input type="submit" name="enviar" value="Comprar">
        </form>
      </ng-template>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
</div>

</section>
