<section class="container-fluid d-flex w-100 m-0 p-2 flex-column justify-content-start align-items-center">

<!-- Cargando -->
  <div *ngIf="isLoading; else showProductos">
      Cargando...
  </div>


<ng-template #showProductos>

  <h2>
    PRODUCTOS
  </h2>

  <article class="d-flex flex-row justify-content-around w-100 p-1 m-0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Marca</th>
          <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos; index as i">
          <td scope="row">{{i+1}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.marca}}</td>
          <td>
            <a routerLink="{{producto.id}}">Ver más</a>
            <a href="#">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>

  </article>

  <a  class="btnAgregar">Agregar Producto</a>

</ng-template>

</section>
