<section class="d-flex flex-row adminView" *ngIf="auth">

<section class="d-flex flex-row menu-admin">
  <menu class="d-flex bg-yellow txt-green">
    <nav class="d-flex flex-column align-items-center justify-content-center">
      <a class="btn-menu txt-white" href="#"><div class="btn-lineMenu"></div>Botones Menu</a>
      <a class="btn-menu txt-white" href="#"><div class="btn-lineMenu"></div>Botones Menu</a>
      <a class="btn-menu txt-white" href="#"><div class="btn-lineMenu"></div>Botones Menu</a>
      <a class="btn-menu txt-white" href="#"><div class="btn-lineMenu"></div>Botones Menu</a>
      <a class="btn-menu txt-white" href="#"><div class="btn-lineMenu"></div>Botones Menu</a>
    </nav>
  </menu>

  <div class="fondoMenu bg-yellow">
    <div class="curvaMenu"></div>
  </div>
</section>

<article class="outlet-admin">
  <router-outlet></router-outlet>
</article>

</section>
